html,
body {
  height: 100%;
  margin: 0;
}
body {
  color: rgb(226, 181, 216);
}

#wrap {
  width: 960px;
  margin: 0 auto;
  /* background-color: #fff; */
  background-color: rgb(176, 40, 194);
}

#header {
  height: 120px;
  background-color: rgb(253, 178, 237);
}

#header h1 {
  text-align: center;
  color: rgb(115, 2, 150);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* line-height: 120px; */
  padding-top: 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 46px;
}

h2,
h3,
h4 {
  text-align: center;
}

h2 {
  color: rgb(253, 213, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-align: justify;
}

a {
  color: rgb(253, 178, 237);
  text-decoration: none;
}

ul.menu {
  list-style-type: none;
}

ul.menu li a {
  background: rgb(165, 7, 157);
  padding: 5px;
  display: block;
  margin: 10px;
}

ul.menu li a:hover {
  background-color: rgb(206, 51, 172);
}

a:hover {
  color: rgb(253, 213, 238);
}

.main_img {
  width: 200px;
  float: left;
  padding: 0 20px 5px 0;
}

.clear {
  clear: both;
}

#nav {
  width: 250px;
  float: left;
}

#main {
  margin-left: 250px;
  padding: 30px;
}

#footer {
  height: 90px;
  background-color: rgb(253, 178, 237);
}

#footer h3 {
  text-align: center;
  color: rgb(115, 2, 150);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* line-height: 120px; */
  padding-top: 40px;
  margin: 0;
  text-transform: uppercase;
}

#menu_toggle {
  display: none;
}

@media screen and (max-width: 1024px) {
  #wrap {
    width: 100%;
  }

  #nav {
    width: 100%;
    float: none;
    background: rgb(165, 7, 157);
    height: 60px;
    margin-top: -20px;
  }

  ul.menu li {
    margin-top: 0;
  }

  ul.menu li a {
    float: left;
    font-size: 22px;
  }

  #main {
    margin-left: 0;
  }

  h2 {
    clear: both;
  }

  p {
    font-size: 22px;
  }
}
