html,
body {
  height: 100%;
  margin: 0;
}
body {
  color: rgb(226, 181, 216);
}

#wrap {
  width: 960px;
  margin: 0 auto;
  /* background-color: #fff; */
  background-color: rgb(176, 40, 194);
}

#header {
  height: 120px;
  background-color: rgb(253, 178, 237);
}

#header h1 {
  text-align: center;
  color: rgb(115, 2, 150);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* line-height: 120px; */
  padding-top: 30px;
  margin: 0;
  text-transform: uppercase;
  font-size: 46px;
}

h2,
h3,
h4 {
  text-align: center;
}

h2 {
  color: rgb(253, 213, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-align: justify;
}

a {
  color: rgb(253, 178, 237);
  text-decoration: none;
}

ul.menu {
  list-style-type: none;
}

ul.menu li a {
  background: rgb(165, 7, 157);
  padding: 5px;
  display: block;
  margin: 10px;
}

ul.menu li a:hover {
  background-color: rgb(206, 51, 172);
}

a:hover {
  color: rgb(253, 213, 238);
}

.main_img {
  width: 200px;
  float: left;
  padding: 0 20px 5px 0;
}

.clear {
  clear: both;
}

#nav {
  width: 250px;
  float: left;
}

#main {
  margin-left: 250px;
  padding: 30px;
}

#footer {
  height: 90px;
  background-color: rgb(253, 178, 237);
}

#footer h3 {
  text-align: center;
  color: rgb(115, 2, 150);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* line-height: 120px; */
  padding-top: 40px;
  margin: 0;
  text-transform: uppercase;
}

#menu_toggle {
  display: none;
}

@media screen and (max-width: 1024px) {
  #wrap {
    width: 100%;
  }

  #nav {
    width: 100%;
    float: none;
    background: rgb(165, 7, 157);
    height: 60px;
    margin-top: -20px;
  }

  ul.menu li {
    margin-top: 0;
  }

  ul.menu li a {
    float: left;
    font-size: 22px;
  }

  #main {
    margin-left: 0;
  }

  h2 {
    clear: both;
  }

  p {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {

    img.main_img {
      float: none;
      width: 100%;
    }
  
    #nav {
      height: 0;
      margin-top: 0;
    }
  
    .menu {
      visibility: hidden;
      left: -9999px;
      position: absolute;  
      top: 0;
      width: 300px;
      margin: 0;
      padding: 80px 0;
      background-color: #fff;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    }
  
    ul.menu li a {
      float: none;
      background: #fff;
      color: rgb(165, 7, 157);
    }
  
    ul.menu li a:hover {
      background: rgb(253, 178, 237);
    }
  
    .menu_btn {
      text-align: center;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
  
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
    }
  
    .menu_btn > span::before {
      content: "";
      top: -8px;
    }
  
    .menu_btn > span::after {
      content: "";
      top: 8px;
    }
  
    #menu_toggle:checked ~ .menu {
      display: block;
      visibility: visible;
      left: 0;
    }
  
    #menu_toggle:checked ~ .menu_btn > span {
      transform: rotate(45deg);
    }
  
    #menu_toggle:checked ~ .menu_btn > span::before {
      top: 0;
      transform: rotate(0);
    }
  
    #menu_toggle:checked ~ .menu_btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
  
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
      transition-duration: 0.25s;
    }
    .menu {
      transition-duration: 0.25s;
    }
    .menu_item {
      transition-duration: 0.25s;
    }
  }
  